<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Witch of images официальный сайт</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="static/img/witch.ico" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
          Witch of images
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/main_page">Главная</a>
            <a class="nav-link disabled" aria-current="page" href="/guide_page">Гайд по использованию</a>
          </div>
        </div>
      </div>
    </nav>


    <div class="container-fluid">
      <figure class="text-center">
        <p class="fw-bold">
          <h1 class="display-2">
            Гайд по использованию редактора
          </h1>
        </p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1 class="display-6">
          Этот гайд призван помочь пользователям научиться использовать все функции в редакторе.
          В нем будут разъясняться, что делает каждая функция, её настойки и как её применить.
        </h1>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_0.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Негатив
        </h1>
        <p>Этот фильтр меняет цвета картинки на "противоположные". С помощью ползунка вы можете регулировать "силу" этого фильтра.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_1.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Резкость
        </h1>
        <p>Этот фильтр делает изображение резким. С помощью ползунка вы можете регулировать силу резкости.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_2.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Размытие
        </h1>
        <p>Этот фильтр делает изображение размытым. С помощью ползунка вы можете радиус размытия.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_3.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Эмбросс
        </h1>
        <p>Этот фильтр делает выпулым. Его регулировать нельзя.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_4.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Насыщенность
        </h1>
        <p>Этот фильтр регулирует нассыщенность оттенков. Чем меньше значение на ползунке, тем оно бледнее и наоборот.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_5.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Контурное изображение
        </h1>
        <p>Этот фильтр показывает контуры изображения. Его регулировать нельзя.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_6.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Цветовая гамма
        </h1>
        <p>Этот фильтр изменяет гамму оттенков изображения. С помощью ползунка можно регулировать цветовую гамму.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_7.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Яркость
        </h1>
        <p>Этот фильтр регулирует яркость изображения. Чем больше значение на ползунке, тем оно ярче и наоборот.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_8.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Квуантиз
        </h1>
        <p>Этот фильтр регулирует количество оттенков изображения. Чем меньше значение на ползунке, тем меньше оттенков у изображения.
           Количесто оттенков не может превосходить количество оттенков у оригинального изображения!</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_9.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Контрастность
        </h1>
        <p>Этот фильтр регулирует контрастность изображения. Чем меньше значение на ползунке, тем меньше контрастность у изображения.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_10.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Отзеркалить
        </h1>
        <p>Эта операция отзеркаливает изображение вертикально или горинзонтально (в зависимости от выбора).</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_11.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Поворот
        </h1>
        <p>Эта операция поворачивает изображение. Угол поворота можно регулировать в поле.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_12.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Обрезка
        </h1>
        <p>Эта операция обрезает изображение. В полях вы можете выбрать координаты точек.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_13.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Переразмерить
        </h1>
        <p>Эта операция меняет размеры изображения. В полях вы можете выбрать размеры и сохранять ли соотношение сторон.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_14.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1>
          Стерео пара
        </h1>
        <p>Эта операция двигает каналы изображения. В полях вы можете выбрать канал, относительно какой оси двигать этот канал и насколько.</p>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <img src="./static/img/examples/example_15.png" class="img-thumbnail" style="width: 1360px; height: 800px;">
      </figure>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>