<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Witch of images официальный сайт</title>
  </head>
  <body>
    <style>
      .carousel-item{
          height: 40rem;
          background: #000;
          color: white;
          position: relative;
      }
      .container{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding-bottom: 50px;
      }
      .overlay-image{
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
          background-position: center;
          background-size: cover;
          opacity: 0.7;
      }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="static/img/witch.ico" alt="logo" width="30" height="30" class="d-inline-block align-text-top">
          Witch of images
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link disabled" aria-current="page" href="/main_page">Главная</a>
            <a class="nav-link active" aria-current="page" href="/guide_page">Гайд по использованию</a>
          </div>
        </div>
      </div>
    </nav>


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="overlay-image" style="background-image:url(./static/img/metal_sonic.jpeg)">
          </div>
          <div class="container">
            <h1>Witch of images</h1>
            <p>редактор изображений, который прост для использования!</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image:url(./static/img/demonic_diluk.jpeg)">
          </div>
          <div class="container">
            <p class="h4">У этого редактора 10 фильтров и 5 операций, которые вы можете сами настроить. А ещё вы можете загружать свои собственные изображения!</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="overlay-image" style="background-image:url(./static/img/big_ben.jpeg)">
          </div>
          <div class="container">
            <p class="h4">Всё это упаковано в красивый и простой для понимания дизайн!</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <h1 class="display-5">
          Это первая версия приложения. Она доступна только для компьютеров операционной системы Windows десятой и одиннадцатой версий.
          В этой версии 10 фильтров: негатив, резкость, размытие, эмбросс, насышенность, цветовая гамма, яркость,
          контрастность, квуантиз и контруное изображение. И 5 операций: отзеркализание, поворот, обрезка, стерео пара и переразмерить картинку.
        </h1>
      </figure>
    </div>


    <div class="container-fluid">
      <figure class="text-center">
        <a class="btn btn-dark btn-lg btn-success" href="{{url_for('download_file')}}">Скачать</a>
      </figure>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>